@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #333;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.sidebar {
    width: 20%;
    height: 85vh;
    float: left;
    background-color: lightgray;
    margin: 0 10px;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.content {
    width: 120vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: lightsteelblue;
    background: url(../img/lol-background.jpg);
    background-size: cover;
    background-position: center;
}

.title-wrapper {
    backdrop-filter: blur(30px);
    border-radius: 15px;
}

.navbar a {
    padding: 10px;
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    background-color: #ff0e17;
    border-radius: 15px;
    font-weight: 600;
}

.navbar a:hover {
    text-decoration:underline;
}

.img-button {
    margin-top: 100px;
}

.img-button i {
    right: 20px;
    transform: translateY(20%);
    font-size: 30px;
}

#fileInput {
    display: none;
}

#uploadButton {
    padding: 10px;
    background-color: #ffcb00;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}